extend layout
block content
	.ui-widget
		label(for="qry") Query: 
		input#qry
	.ui-widget(style="margin-top: 2em; font-family: Arial;") 
		| Result:
		#log.ui-widget-content(style="height: 200px; width: 300px; overflow: auto;")
